<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채팅방 {{chatRoomDto.roomName}}</title>
    <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>
</head>

<body>
<h1>{{chatRoomDto.roomName}}</h1>
<fieldset>
<label for="writer">대화명</label><input type="text" minlength="1" id="writer" name="writer" value="{{writer}}" readonly />
        <label for="message">메세지</label><input type="text" minlength="1" id="message" name="message" />
        <button onclick="$.sendMessage();">대화 전송</button>
        <button onclick="$.outRoom();">대화방 나가기</button>
    </fieldset>
    <h3>채팅 내용</h3>
    <ul id="msgUl">
    </ul>
</body>
</html>

<script>
    // let chatUrl = "ws://localhost:8077/ws/chat";
    let chatUrl = "ws://{{hostUrl}}/ws/chat";
    let webSocket = new WebSocket(chatUrl);

    webSocket.onopen = function (param) {
        let message = $("#message").val();
        let writer = $("#writer").val();
        let chatMessageDto = {
            "msgType": "ENTER"
            , "roomId": "{{chatRoomDto.roomId}}"
            , "writer": writer
            , "message": ""
        };
        webSocket.send(JSON.stringify(chatMessageDto));
    }

    webSocket.onmessage = function (param) {
        console.log(param.data);
        let msgObj = JSON.parse(param.data);
        let msgUl = $("#msgUl");
        let liHtml = `<li><span>${msgObj.writer}</span> &nbsp; : &nbsp; <span>${msgObj.message}</span></li>`;
        msgUl.append(liHtml);
    }

    $.sendMessage = () => {
        let message = $("#message").val();
        if (message == null || message === '') {
            return;
        }
        let writer = $("#writer").val();
        let chatMessageDto = {
            "msgType": "MESSAGE"
            , "roomId": "{{chatRoomDto.roomId}}"
            , "writer": writer
            , "message": message
        };
        webSocket.send(JSON.stringify(chatMessageDto));
    }

    $.outRoom = () => {
        let message = $("#message").val();
        let writer = $("#writer").val();
        let chatMessageDto = {
            "msgType": "OUT"
            , "roomId": "{{chatRoomDto.roomId}}"
            , "writer": writer
            , "message": ""
        };
        webSocket.send(JSON.stringify(chatMessageDto));
        webSocket.close();
        document.location.href = "/chat/list";
    }
</script>